
/*-------------------------------------------------------
10. Team Single css 
---------------------------------------------------------*/

.team-header {
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-gap: 6rem;
	padding-right: 10rem;
}